.CharacterListItem {
  border: 1px solid grey;
  color: grey;
  padding: 10px;
  margin-bottom: 10px;
}

.CharacterListItem-active {
  background: grey;
  color: black;
}

header {
  text-align: left;
  margin-left: 10px;
}
